.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 15px 10px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: left;
    justify-content: space-between;
}

.header__logo {
    color: #ffe600;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

.content {
    background: #f4f4f4;
}