body {
    background: #f6f6f6;
    font-family: "Noto San JP", "Helvetica Neue", Arial, sans-serif;
}

.card-wrap {
    background: #fff;
    border-radius: 6px;
    padding: 30px;
}

h2 {
    margin-bottom: 1rem;
    font-weight: 600;
}

.btn-primary {
    background: #f2b705;
    color: #000;
    border: none;
    padding: 10px 22px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn-secondary {
    background: #e6e6e6;
    color: #000;
    border: none;
    padding: 10px 22px;
    border-radius: 4px;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.img-box {
    border: 1px sold #e6e6e6;
    padding: 8px;
    background: #fff;
}

.text-danger {
    color: #ff0000;
    margin-top: 6px;
}

.season-list {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 8px;
}

.round-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.round-checkbox input[type="checkbox"]{
    display: none;
}

.round-checkbox .circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #bbb;
    display: inline-block;
    margin-right: 8px;
    position: relative;
}

.round-checkbox input[type="checkbox"]:checked + .circle:after {
content: "";
position: absolute;
top: 3px;
left: 3px;
width: 8px;
height: 8px;
border-radius: 50%;
background: #000;
}

.round-checkbox .season-label {
    font-size: 14px;
    color: #000;
}

.product-card {
    display: block;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    transition: transform .12s ease;
}

.file-btn {
    display: inline-block;
    border: 1px solid #bbb;
    padding: 6px 10px;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.file-name {
    margin-left: 10px;
    color: #000;
}



/* .product-card:hover {
    transform: translate(-4px);
}

.img-wrap {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.img-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.card-body {
    padding: .75rem .9rem;
}

.product-name {
    font-size: 1rem;
    margin: 0 0 .35rem 0;
}

.product-price {
    color: #000;
    font-weight: 600;
}
 */
