.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    text-align: center;
}

.register-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 25%;
    text-align: left;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.register-form__btn-inner {
    display: flex;
    justify-content: center;
}

.register-form__button {
    margin-top: 32px;
    
        gap: 32px;
        background: #f2b705;
        color: #000;
        text-align: center;
        cursor: pointer;
}

.register-form__back-btn {
    margin-top: 32px;
    gap: 32px;
    background: #ddd;
    color: #000;
    text-align: center;
    cursor: pointer;
}